.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
    padding: 10px;
  }
  
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    cursor:pointer;
    border-radius: 7px;
  }